<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Nigerian Food Recognition System</title>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Nigerian Dish Recognition System</div>
    <p>
      Use images of <strong>The 20 trained categories listed in the <a href="http://lab.rcmolokwu.site/foodnet/2019/07/17/instructions/">Instruction Page</a></strong> 
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Start Analysis</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
  </footer><p> Copyright 2019 | R. Chukwuka Molokwu</p></footer>
</body>
</html>
